# macOS
.DS_Store

# Xcode
build/
DerivedData/
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/
xcuserdata/

# Swift Package Manager
.build/
.swiftpm/
Package.resolved

# Build artifacts
*.dSYM
*.dSYM.zip
*.ipa
*.app
