<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.vannaq.BeagleXHelper</string>
    <key>BundleProgram</key>
    <string>Contents/MacOS/BeagleXHelper</string>
    <key>MachServices</key>
    <dict>
        <key>com.vannaq.BeagleXHelper</key>
        <true/>
    </dict>
    <key>AssociatedBundleIdentifiers</key>
    <array>
        <string>com.vannaq.BeagleX</string>
    </array>
</dict>
</plist>
